@model ErrorViewModel
@{
    ViewData["Title"] = "егог";
}

<h1 class="text-danger">егог!.</h1>
<h2 class="text-danger">самая распространенная ошибка в калькуляторе</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>тут ваш айпишник:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>тут я не знаю что написано было</h3>
<p>
   ЭТО САЙТ ДЛЯ ТЕТРИСА!!! ТУТ ЛЮДИ БУДУТ ИГРАТЬ В ТЕТРИС!!!
</p>

