@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Тетрис</h1>
    <p>Внимание! <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">вы сможете поиграть когда я пройду курсы)</a>.</p>
</div>
